.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.redirect-link {
  margin-top: 15px;
  text-align: center;
}

.redirect-link a {
  color: #007bff;
  text-decoration: none;
}

.redirect-link a:hover {
  text-decoration: underline;
}
